.idea
.serverless
node_modules
**/target
**/*.iml
**/.DS_Store
**/.vscode

build
coverage
dist
.eslintcache
secure-forms-ui.iml
.idea/

# python dist files
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.pyc

